body {
    background-color: rgb(166, 233, 224);
    direction: rtl;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
    color: rgb(36, 123, 160);
    font-family: 'Rajdhani', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(51, 153, 153);
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
}

p {
    color: rgb(51, 153, 153);
    margin-top: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
}

h3 {
    text-align: center;
    color: rgb(51, 153, 153);
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}

a {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 27px;
}

a:hover {
    color: rgb(166, 233, 224);
    transition: 0.5s;
}

a.button {
    background-color: rgb(36, 123, 160);
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    cursor: pointer;
}

a.button:hover {
    background-color: rgb(116, 163, 157);
    color: white;
    transition: 2s;
}

.Table {
    margin: 0px auto;
    border: 2px solid rgb(51, 153, 153);
}

.Login_In_Out_Admin {
    width: 20%;
    border: 2px solid rgb(51, 153, 153);
}

.Logo {
    width: 75%;
    border: 2px solid rgb(51, 153, 153);
}

.Clock {
    width: 5%;
    border: 2px solid rgb(51, 153, 153);
    text-align: center
}

.Nav {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(51, 153, 153);
    background-color: rgb(36, 123, 160, 0.78);
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

.In_The_Page {
    width: 100%;
    direction: rtl;
}

.Under_Page {
    text-align: center;
    background-color: rgb(36, 123, 160, 0.78);
    width: 100%;
    height: 50px;
}